{% extends 'index.html' %}
{% block body%}
<div class="m-4"></div>
<div class = "container">
<div class="card bg-dark text-light">
<form action="{% url 'contact' %}"  method="POST">
	{% csrf_token %}
	<div class="card-header text-center text-light" style="font-size:25px;"> *** Contact Us Here *** </div>
	<div class = "card-body">
		<div class="form-group">
			<label for="name">Name of the Candidate : </label>
			<input type="text" name="name" class="form-control">		
		</div>
		<div class="form-group">
			<label for="name"> Mobile No : </label>
			<input type="number" name="mobile" class="form-control">		
		</div>
		<div class="form-group">
			<label for="name">Email of the Actress : </label>
			<input type="email" name="email" class="form-control">		
		</div>
		<div class="form-group">
			<label for="name"> Gender </label>
			<select class ="form-control" name="gender">
					<option></option>
					<option value="MALE">MALE</option>
					<option value="FEMALE">FEMALE</option>
			</select>	
		</div>
		<div class="form-group">
			<label for="name">Complaint : </label>
			<textarea class="form-control" name="comp" cols="10" rows="5">
			</textarea>		
		</div>
	</div>
	<div class = "card-footer">
	<button class="btn btn-primary" type="Submit">Submit</button>
	</div>
</form>
</div>
</div>
{% endblock %}