<!DOCTYPE html>
<html>
<head>
	<title>NavBar</title>
	<style type="text/css">
		html,body
		{
			margin: 0;
			padding: 0;
		}
		#nav{
			margin: 0px;
			background-color: #002b70;
			padding: 10px;
			text-align: center;
			font-size: 20px;
			color: #ffffff;
		}
		#nav a{
			text-decoration: none;
			color: #ffffff;
		}
	</style>
</head>
<body>
	<div id="nav">
		<a href="{% url 'register' %}"> SignUp | </a>
		<a href="{% url 'login' %}"> Login </a>
	</div>

	{% block body %}
	{% endblock %}
</body>
</html>