{% extends 'nav.html' %}
{% block body %}

  <div class="container">
  	<div class="card m-3">
  		<div class="card-header bg-dark text-light text-center">Profile</div>
  		<div class="card-body">
  			<table class="table text-center">
  				<tr>
  					<th> UserName </th>
  					<td> {{ user.username }} </td> 
  				</tr>
  				<tr>
  					<th> First Name  </th>
  					<td> {{ user.first_name }} </td> 
  				</tr>
  				<tr>
  					<th> Last Name </th>
  					<td> {{ user.last_name }} </td> 
  				</tr>
  				<tr>
  					<th> Email Id </th>
  					<td> {{ user.email }} </td> 
  				</tr>
  			</table>
  		</div>
  	</div>
  </div>
{% endblock%}